:root{ 
    /* colors */

    --actent-color: #FED136;
    --back-and-text-color: #222;
    --color-for-article: #777;
    --color-for-forms: #BBB;

    /* fonts */

    --font-Bilbo-Swash-Caps: 'Bilbo Swash Caps', cursive;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Roboto-Slab: 'Roboto Slab', serif;
}
*::selection{ 
    color: var(--actent-color);
}
.circules{ 
    border: var(--actent-color) solid 3px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
li{ 
    list-style: none;
}
a{ 
    text-decoration: none;
}
h2{ 
    text-transform: uppercase;
}
.container{ 
    border: 1px black solid;
    width: 942px;
    margin: 0 auto;
    padding-left: 15px;
    padding-left: 15px;
}